@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Washington Luís, 370<br />
    Santa Terezinha de Itaipu - PR<br />
    <abbr title="Phone">P:</abbr>
    (45) 99938-5030
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:wevertoncesar@gmail.com">wevertoncesar@gmail.com</a><br />
</address>